body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow: overlay;
  height: 100%;
  width: 100%;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.5vw;
  background-color: #121212;
}

body::-webkit-scrollbar-thumb {
  height: 1vh; 
  background-color: #BE264C;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sliderDescription {
  transform: translate(-200%, 0);
  transition: 0.6s;
}

.sliderFirst:hover .sliderDescription {
  transform: translate(0, 0);
  transition: 0.6s;
}

.sliderFirst:hover .sliderScreen {
  transform: translate(0, 0);
  transition: 0.5s;
}

@media screen and (max-width: 600px) {
  
  .sliderDescription {
    transform: translate(0, 0);
    transition: 0.1s;
  }

  .sliderScreen {
    display: none;
  }  
}

.itemSort {
  height: fit-content;
}